# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. ggplot
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Visual Studio Code|
|PyCharm|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**
+ languages that Data Scientists
+ libraries used by Data Scientists
+ Data Science Tools
+ simple arithmetic expression to mutiply then add integers

## Author
Niket Parekh